@import '../../../../styles/variables.scss';

.donation-section{
  font-size: 18px;
  color:$grey3;

  &.text-left {
    text-align: left
  }
  &.text-right{
    text-align: right;
  }
  &.text-center{
    text-align: center;
  }

}