@import '../../../../styles/variables.scss';

.custom-panel{
  &.success{
    border-left: 5px solid limegreen;

  }
  &.info{
    border-left: 5px solid $grey3;
  }
  &.danger{
    border-left: 5px solid $red-dark;
  }

}

.pointer{cursor: pointer;}