@import "../../styles/variables.scss";

.home-section{

}

.request-form{

  .button-container{
    padding: 10px 0;

    button{
      background: $blue;
      color: $white;
      border-width: 0;

      &:hover{
        background: $blue-dark;
      }

    }

  }

}

.request-form-modal{
  .map-container{
    height: 300px;
    margin-bottom: 20px;
  }
}