@import "./variables.scss";

/* General */
body{
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
  overflow-x: hidden;
  background: $background;
}

.w100{width: 100%;}

/* Helpers */
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Modals */
.modal-subtitle{
  color: $grey2;
  font-size: 14px;
  font-style: italic;
}

.modal-image{
  text-align: center;
}

.modal-action-buttons{
  justify-content: center !important;

  a{
    text-decoration: none;
  }

}

.modal-input{
  width: 100%;
}