@import "./variables.scss";

/* General */
body{
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
  overflow-x: hidden;
  background: $background;
}

.w100{width: 100%;}

/* Helpers */
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Modals */
.modal{

  &.vertical-center{
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.modal-title{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: $blue;
}

.modal-content{
  font-size: 18px;
  color:$grey3;
  border-radius: 0;
  box-shadow: none;

}

.modal-body{
  padding:20px;


  .modal-buttons{
    padding: 15px;
    text-align: center;

    button{
      margin: 0 5px;
    }

  }

}

.modal-input{
  width: 100%;
}