@import '../../styles/variables.scss';

.button{
  padding: 10px 20px;
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin-left: 10px;
  box-shadow: none;
  border-radius: 0;
  position: relative;

}